<div>
  <div class="form-group row">
    <div class="container-label-buttons">
      <label class="col-md-12 form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.avalancheProblems" | translate }}</strong></label>
      <button type="button" class="btn btn-primary" (click)="showDecisionTreeDialog()">{{ "bulletins.create.decisionTree.decisionTree" | translate }}</button>
      <!-- AINEVA 2024-09-27: no decision tree feedback link -- <a class="btn btn-link" href="{{ 'bulletins.create.decisionTree.feedbackURL' | translate }}" target="_blank">{{ "bulletins.create.decisionTree.feedback" | translate }}</a>-->
    </div>
    <div *ngIf="!disabled" class="col-md-12">
      <img *ngIf="isAvalancheProblem('new_snow')" src="./assets/img/New_snow_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.new_snow)" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('new_snow')" src="./assets/img/New_snow_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.new_snow)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('wind_slab')" src="./assets/img/Drifting_snow_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.wind_slab)" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('wind_slab')" src="./assets/img/Drifting_snow_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.wind_slab)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('wet_snow')" src="./assets/img/Wet_snow_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.wet_snow)" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('wet_snow')" src="./assets/img/Wet_snow_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.wet_snow)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('gliding_snow')" src="./assets/img/Gliding_snow_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.gliding_snow)" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('gliding_snow')" src="./assets/img/Gliding_snow_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.gliding_snow)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemCornices && isAvalancheProblem('cornices')" src="./assets/img/Cornices_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.cornices)" width="90"style="padding-right: 15px;" >
      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemCornices && !isAvalancheProblem('cornices')" src="./assets/img/Cornices_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.cornices)" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem && isAvalancheProblem('no_distinct_problem')" src="./assets/img/No_distinct_problem_c.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.no_distinct_problem)" width="90"style="padding-right: 15px;" >
      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem && !isAvalancheProblem('no_distinct_problem')" src="./assets/img/No_distinct_problem_bw.svg" (click)="selectAvalancheProblem(avalancheProblemEnum.no_distinct_problem)" width="90" style="opacity: 0.3; padding-right: 15px;">
    </div>
    <div *ngIf="disabled" class="col-md-12">
      <img *ngIf="isAvalancheProblem('new_snow')" src="./assets/img/New_snow_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('new_snow')" src="./assets/img/New_snow_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('wind_slab')" src="./assets/img/Drifting_snow_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('wind_slab')" src="./assets/img/Drifting_snow_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('wet_snow')" src="./assets/img/Wet_snow_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('wet_snow')" src="./assets/img/Wet_snow_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('gliding_snow')" src="./assets/img/Gliding_snow_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="!isAvalancheProblem('gliding_snow')" src="./assets/img/Gliding_snow_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('cornices')" src="./assets/img/Cornices_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemCornices && !isAvalancheProblem('cornices')" src="./assets/img/Cornices_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">

      <img *ngIf="isAvalancheProblem('no_distinct_problem')" src="./assets/img/No_distinct_problem_c.svg" width="90"style="padding-right: 15px;" >
      <img *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem && !isAvalancheProblem('no_distinct_problem')" src="./assets/img/No_distinct_problem_bw.svg" width="90" style="opacity: 0.3; padding-right: 15px;">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label class="form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.aspects" | translate }}</strong></label>
      <div>
        <app-aspects [(aspects)]="avalancheProblemModel.aspects" [disabled]="disabled" [size]="150"></app-aspects>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.elevation" | translate }}</strong></label>
      <div>
        <table>
          <tbody>
            <tr style="height: 60px">
              <td style="padding-right: 10px; vertical-align: baseline">
                <label class="switch switch-default switch-pill switch-primary">
                  <input type="checkbox" class="switch-input" [disabled]="disabled" (change)="setUseElevationHigh($event)" [(ngModel)]="useElevationHigh">
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </td>
              <td style="padding-right: 10px; vertical-align: baseline">{{ "bulletins.create.label.elevationHigh" | translate }}</td>
              <td class="input-prepend input-group">
                <input step="100" min="0" max="9000" id="inputElevationHigh" class="form-control" size="14" type="number" name="elevation-input" [disabled]="disabled || avalancheProblemModel.treelineHigh || !useElevationHigh" [(ngModel)]="avalancheProblemModel.elevationHigh" (change)="updateElevationHigh()">
                <span class="input-group-addon">m</span>
              </td>
              <td style="padding-left: 10px; vertical-align: baseline" *ngIf="!avalancheProblemModel.treelineHigh">
                <button [disabled]="disabled || !useElevationHigh" type="reset" class="btn btn-secondary" (click)="treelineHighClicked($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.treeline' | translate }}"><i class="fa fa-tree"></i></button>
              </td>
              <td style="padding-left: 10px; vertical-align: baseline" *ngIf="avalancheProblemModel.treelineHigh">
                <button [disabled]="disabled || !useElevationHigh" type="reset" class="btn btn-primary" (click)="treelineHighClicked($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.treeline' | translate }}"><i class="fa fa-tree"></i></button>
              </td>
            </tr>
            <tr style="height: 60px">
              <td style="padding-right: 10px; vertical-align: baseline">
                <label class="switch switch-default switch-pill switch-primary">
                  <input type="checkbox" class="switch-input" [disabled]="disabled" (change)="setUseElevationLow($event)" [(ngModel)]="useElevationLow">
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </td>
              <td style="padding-right: 10px; vertical-align: baseline">{{ "bulletins.create.label.elevationLow" | translate }}</td>
              <td class="input-prepend input-group">
                <input step="100" min="0" max="9000" id="inputElevationLow" class="form-control" size="14" type="number" name="elevation-input" [disabled]="disabled || avalancheProblemModel.treelineLow || !useElevationLow" [(ngModel)]="avalancheProblemModel.elevationLow" (change)="updateElevationLow()">
                <span class="input-group-addon">m</span>
              </td>
              <td style="padding-left: 10px; vertical-align: baseline" *ngIf="!avalancheProblemModel.treelineLow">
                <button [disabled]="disabled || !useElevationLow" type="reset" class="btn btn-secondary" (click)="treelineLowClicked($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.treeline' | translate }}"><i class="fa fa-tree"></i></button>
              </td>
              <td style="padding-left: 10px; vertical-align: baseline" *ngIf="avalancheProblemModel.treelineLow">
                <button [disabled]="disabled || !useElevationLow" type="reset" class="btn btn-primary" (click)="treelineLowClicked($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.treeline' | translate }}"><i class="fa fa-tree"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="authenticationService.getActiveRegion().showMatrix" class="form-group row" style="margin-bottom: 0">
    <div class="col-md-6" style="z-index: 100">
      <app-matrix-parameter [(bulletin)]="bulletin" [(bulletinDaytimeDescription)]="bulletinDaytimeDescription" [(matrixInformation)]="avalancheProblemModel.matrixInformation" [disabled]="disabled"></app-matrix-parameter>
    </div>
    <div class="col-md-6">
      <app-matrix [(bulletin)]="bulletin" [(bulletinDaytimeDescription)]="bulletinDaytimeDescription" [(matrixInformation)]="avalancheProblemModel.matrixInformation" [snowpackStability]="avalancheProblemModel.matrixInformation.snowpackStability" [frequency]="avalancheProblemModel.matrixInformation.frequency" [avalancheSize]="avalancheProblemModel.matrixInformation.avalancheSize" [disabled]="true"></app-matrix>
    </div>
  </div>
  <div *ngIf="!authenticationService.getActiveRegion().showMatrix" class="form-group row" style="margin-bottom: 0">
    <div class="col-md-12">
      <app-matrix-parameter [(bulletin)]="bulletin" [(bulletinDaytimeDescription)]="bulletinDaytimeDescription" [(matrixInformation)]="avalancheProblemModel.matrixInformation" [disabled]="disabled"></app-matrix-parameter>
    </div>
  </div>
</div>
